
.res-dash-entyre-wrapper{
    padding: 23px 16px 0 16px;
}



.res-dash-row-input-wrapper{
    display: flex;
    flex-direction: column;

}

.res-dash-flex-row-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.res-dash-h2-padding-bottom{
    padding-bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.res-dash-remove-padding{
    padding-bottom: 5px;
}

.res-dash-input{
    width: 100%;
    max-width: 543px;
    height: 49px;
    border-radius: 2px;
    border: solid 1px #dbdbdb;
    background-color: #ffffff;
    padding-left: 15px;

    font-family: Roboto;
    font-size: 16px;
    color: #212123;
    margin-bottom: 17px;
    outline-color: #fdaf3b;
}

.res-dash-input:focus{
    border: solid 2px #fdaf3b;
}

.res-dash-input:invalid{
    border: solid 1px #ef423e;
}

.res-dash-label{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    color: #212123;
    padding-bottom: 5px;
}

#res-dash-price{
    position: relative;
}
#res-dash-price:before{
    content: 'CHF';
    display: block;
    position: absolute;
    /* width: 31px;
    height: 19px; */
    font-family: Roboto;
    font-size: 16px;
    color: #a5a5a5;
    top: 37px;
    right: 15px;
}

#res-label-price-input{
    padding-right: 45px;
}

.res-dash-form-container{
    padding-left: 16px;
    padding-right: 16px;
}

#input__file{
    opacity: 0;
    visibility: hidden;
    position: absolute;

}

.res-dash-input__file-button{
    display: flex;
    flex-direction: column;
    width: 88px;
    height: 88px;
    border-radius: 12px;
    border: 1.5px solid #39a7a0;
    justify-content: center;
    align-items: center;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    text-align: center;
    color: #39a7a0;

    margin-bottom: 19px;
}

.res-dash-input-wrapper{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;

}
.res-dash-select{
    width: 192px;
    height: 49px;
    border-radius: 2px;
    border: solid 1px #dbdbdb;
    background-color: #ffffff;
    padding-left: 20px;
}
.res-dash-select-value{
    width: 192px;
    height: 49px;
    border-radius: 2px;
    border: solid 1px #dbdbdb;
    background-color: #ffffff;
}

.res-dash-inline-button{
    min-width: 119.5px;
    height: 40px;
    font-family: Roboto;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 500;
    color: #39a7a0;
    border: none;
    background: transparent;
}

.res-dash-inline-button:hover{
    background-color: #ebf3f7;
}

.res-dash-inline-button:focus{
    color: #fdaf3b;
    background-color: transparent;
    outline: transparent;
}

.res-dash-inline-button:active{
    background-color: #32a7a1;
    color: white;
}

.res-dash-inline-button:disabled{
    color: #f9f9f9;
}

.res-dash-delete{
    min-width: 114px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    color: #ef423e;
}

.res-dash-button-wrapper{
    width: 100%;
    height: 82px;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 7px 20px 0 rgba(218, 218, 218, 0.45);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.select{
    width: 503px;
    height: 128px;
    border-radius: 2px;
    border: solid 1px #dbdbdb;
    background-color: #ffffff;
}


.res-dash-image-preview{
    display: flex;
    flex-direction: row;
}
.res-dash-image-preview-image{
    width: 88px;
    height: 88px;
    border-radius: 12px;
    margin-right: 21px;
}

.res-dash-red-cancel{
    width: 21px;
    height: 21px;
    background-image: url('../assets/icons/close_red.svg');
    background-repeat: no-repeat;
    padding-left: 24px;

}

.res-dash-hide{
    display: none;
}

.res-dash-file-wrapper{
    padding-bottom: 19px;
}

.res-dash-kohdatum{
    padding-top: 28px;
    border-top: 2px solid #dedddd;
}


.select2-container{
    display: block;
    width: 288px !important;
    height: 128px;
    border-radius: 2px;
    border: solid 1px #dbdbdb;
    background-color: #ffffff;
}

.select2-container--default .select2-selection--multiple{
    border: 0;
    height: 128px;
    border-radius: 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    min-width: 128px;
    height: 32px;
    border-radius: 16px;
    background-color: #ceebe6;
    display: inline-flex;
    align-items: center;
    font-family: Roboto;
    font-size: 16px;
    color: #212123;
    border: none;
    position: relative;
    justify-content: space-around;
    cursor: default;
    padding-right: 15px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    background-color: transparent;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #212123;
    cursor: pointer;
    font-size: 1em;
    padding: 0 4px;
    position: absolute;
    font-weight: 500;
    padding-right: 5px;
    right: 10px;
    top: 5px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple{
    border-radius: 2px;
    border: 1px solid #dbdbdb;
}

.select2-dropdown{
    border: 1px solid #dbdbdb;
}

.select2-container--default .select2-results__option--selected{
    background-color: #ceebe6;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
    background-color: darken(#ceebe6, 10%);
    color: #212123;
}

.res-dash-mobile-show{
    display: flex;
}

.res-dash-mobile-hide{
    display: none;
}

.res-dash-wrapper-container-top-input{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}



@media screen and (min-width: 768px){

    .select2-container{
        width: 100% !important;
    }
    .res-dash-form-container{
        padding-left: 16px;
        padding-right: 16px;
        max-width: 543px;
        margin: auto;
    }

    .res-dash-mobile-show{
        display: none;
    }

    .res-dash-desktop-card-layout{
        background-color: #ffffff;
        width: 740px;
        border-radius: 12px;
        box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.09);
        margin: auto;
        padding-top: 50px;
        margin-bottom: 134px;
    }

    .res-dash-button-wrapper{
        border-top: 1px solid #bebcbc;
        border-radius: 0;
        justify-content: flex-start;
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;
    }

    .res-dash-inner-button-container{
        width: 543px;
        padding-left: 16px;
        padding-right: 16px;
        max-width: 543px;
        margin: auto;
    }

    .res-dash-mobile-hide{
        display: block;
    }
}

@media screen and (min-width: 1378px){
    .res-dash-desktop-card-layout{
        background-color: #ffffff;
        width: 880px;
        border-radius: 12px;
        box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.09);
        margin: auto;
        padding-top: 50px;
        margin-bottom: 134px;
    }
}