.ui-widget{
    width: 290px;
    /* width: 366px; */
    background-color: #ffffff;
}

.ui-widget.ui-widget-content, .ui-widget-header{
    border: none;
}

.ui-corder-all{
    border: none;
}

.ui-widget-header{
    background-color: white;
}

.ui-widget{
    font-family: Roboto, sans-serif;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #212123;
    padding-bottom: 33px;
}

.ui-widget-header .ui-icon{
    background-image: url('../assets/icons/right.png');
    width: 21px;
    height: 21px;
    background-size: contain;
} 
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    background-image: url('../assets/icons/right.png');
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{
    background-image: url('../assets/icons/right.png');
    width: 21px;
    height: 21px;
    background-size: contain;
}

.ui-datepicker .ui-datepicker-next{
    background-image: url('../assets/icons/right.svg');
}

.ui-datepicker .ui-datepicker-prev {
    background-image: url('../assets/icons/left.svg');
}
.ui-datepicker th{
    font-family: Roboto;
    font-size: 14px;
    text-align: center;
    color: #989898;
}

.ui-datepicker td{
    width: 32px !important;
    height: 32px !important;
    text-align: center;
}

.ui-datepicker-calendar>thead{
    border-bottom: 1px solid #bebcbc;
}

.ui-state-default, .ui-widget-content .ui-state-default{
    border: none;
    background: transparent;
    color: #212123;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}



.ui-state-disabled{
    color: #bebcbc !important;
}

.ui-datepicker td span, .ui-datepicker td a{
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    line-height: 32px;
}

.ui-datepicker-next .ui-corner-all .ui-state-hover .ui-datepicker-next-hover{
    background-color: none !important;
}

td.ui-datepicker-days-cell-over.ui-datepicker-current-day.ui-datepicker-today > a{
    width: 32px;
    height: 32px;
}

#calendar > div > table > tbody > tr:nth-child(3) > td.ui-datepicker-current-day > a{
    width: 32px;
    height: 32px;
}

.ui-state-default:hover{
    background-color: #ebf3f7 !important;
    border-radius: 50%;
}

.ui-state-highlight{
    background-color: #acded6 !important;
    border-radius: 50%;
}

.ui-state-active{
    background-color: #fdaf3b !important;
    border-radius: 50%;
}

#datetimepicker button.ui-datepicker-current {display: none;}

.ui-widget.ui-widget-content, .ui-widget-header {

    width: 290px;
}

.ui-button .ui-widget .ui-spinner-button .ui-spinner-down .ui-corner-br .ui-button-icon-only{
    width: 20px;

}

.ui-timepicker-div{
    display: flex;
}

.ui_tpicker_time_label{
    display: none;
}

.ui_tpicker_time{
    display: none;
}
.ui_tpicker_hour_label{
    display: none;
}
.ui_tpicker_minute_label{
    display: none;
}

#datetimepicker > div > div.ui-timepicker-div > dl{
    display: flex;
    flex-direction: row;
}

.ui-timepicker-div{
    width: 100%;
}

#datetimepicker > div > div.ui-timepicker-div > dl > dd.ui_tpicker_hour > div > select,
#datetimepicker > div > div.ui-timepicker-div > dl > dd.ui_tpicker_minute > div > select{
    width: 80px;
    height: 49px;
    border: solid 1px #dbdbdb;
}

.ui-timepicker-div dl dd{
    margin: 0 10px 10px 22%;
}

#datetimepicker > div > div.ui-timepicker-div > dl > dd.ui_tpicker_hour > div > select:hover,
#datetimepicker > div > div.ui-timepicker-div > dl > dd.ui_tpicker_minute > div > select:hover{
    background-color: white !important;
    border-radius: 0;
}

@media screen and (min-width: 768px){
    .ui-widget{
        width: 366px;
    }
    .ui-widget.ui-widget-content, .ui-widget-header{
        width: 366px;
    }

    .ui-datepicker td span, .ui-datepicker td a{
        padding-top: 16px;
        padding-bottom: 14px;
    }
}