@import './reset.css';

@font-face{
    font-family: 'RobotoSlab'; 
    src: url('../assets/fonts/RobotoSlab-Medium.ttf');
  }
  
  @font-face{
    font-family: 'Roboto'; 
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }
  html{
    min-height: 100%;
  }

html, body{
    height: 100%;
}

body{
    font-family: 'Roboto';
    background-color: #fafafa;
}

.res-dashboard{
    height: 100%;
    max-width: 1128px;
    margin: auto;
}

.res-breadcrumbs{
    max-width: 1128px;
    margin: auto;
}
.res-ul{
    display: none;
}


.res-dash-wrapper{
    display: flex;
    flex-direction: row;
    padding: 16px;
    padding-bottom: 0;

}

.res-dash-avatar{
    width: 56px;
    height: 56px;
    border-radius: 16px;
}

.res-dash-first-name{
    display: none;
}

.res-dash-h2{
    font-family: RobotoSlab;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #212123;
    padding-bottom: 9px;
}

.res-dash-info{
    padding-left: 8px;

}

.res-dash-info-group{
    display: flex;
    flex-direction: row;
}

.res-dash-info-block{
    padding-right: 11px;
}

.res-dash-info-block:nth-child(2){
    padding-right: 13px;
}

.res-dash-info-block:last-child{
    padding-right: 0;
}

.res-dash-info-itemName{
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #626264;
}
.res-dash-value{
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5e5959;
}
.res-dash-chf{
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #626264;
}

/* MENU */
.res-menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.res-navigation{
    border-bottom: solid 2px #e8e8e8;
    display: flex;
    margin: 16px;
    margin-top: 0;
    display: flex;
    align-items: center;
}

.res-menu-item{
    text-align: center;
    width: calc(100% /5);
    /* display: flex; */
    align-items: center;
}

.res-menu-link{
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #368aae;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.res-menu-link:active{
    color: #fdaf3b;
    border-bottom: 3px solid #fdaf3b;
}
.res-menu-link:hover{
    /* color: #fdaf3b;
    border-bottom: 2px solid #fdaf3b; */
}

.res-menu-link:visited{
    /* color: #fdaf3b;
    border-bottom: 2px solid #fdaf3b; */
}

.res-menu-link.active{
    color: #fdaf3b;
    border-bottom: 3px solid #fdaf3b;
}


.res-dash-image{
    display: flex;
    flex-direction: row;
}

.res-button{
    display: none;
    /* margin-left: 28px; */
    margin-bottom: 6px;
    padding-top: 18px;
    padding-bottom: 30px;
    /* 16px 30px 16px; */
    /* display: flex; */
    align-items: center;
}  

/* END OF MENU */

/* DASH BLOCK */

.res-dash-block{
    display: flex;
    background-color: #f9f9f9;
    flex-direction: column;
}

.res-dash-header{
    font-family: RobotoSlab;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5e5959;
    padding-bottom: 13px;
}

.res-dash-h2-header{
    font-family: RobotoSlab;
    font-size: 18px;
    font-weight: 500;
    color: #5e5959;
    padding-left: 8px;
    padding-bottom: 12px;
}


/* CARD */

.res-dash-card-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.res-dash-label-ordered{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    color: #fdaf3b;
    position: absolute;
    top: 9px;
    left: 55px;
}

.res-dash-card-with-label .res-dash-card-itemsNumber{
    position: absolute;
    top: 28px;
}
.res-dash-card{
    border-radius: 16px;
    box-shadow: 0 7px 20px 0 rgba(218, 218, 218, 0.45);
    background-color: #ffffff;
    padding: 16px;
    max-width: 304px;
    position: relative;
    margin: 8px;
}
.res-dash-card-with-label{
    padding-top: 30px;
}

.res-dash-card-name-wrapper{
    display: flex;
    flex-direction: row;
    padding-left: calc(55px - 16px);
    padding-bottom: 6px;
}

.res-dash-card-itemsNumber{
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.38;
    color: #000000;
    position: absolute;
    top: 12px;
    left: 14px;
}

.res-dash-card-itemsNumber-active{
    background-color: #fdaf3b;
    width: 29px;
    height: 29px;
}

.res-dash-card-itemsNumber-inactive{
    width: 26px;
    height: 26px;
    border-radius: 8px;
    border: solid 1px #b7b7b7;
}
.res-dash-card-itemName{
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    color: #212123;

}

.res-dash-card-itemCost{
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  color: #39a7a0;
  min-width: 87px;
}
.res-dash-card-deliever{
    font-size: 14px;
    line-height: 1.43;
    color: #6f6f73;
    position: relative;
}

.res-dash-card-deliever:before{
    content: '';
    width: 18px;
    height: 18px;
    background-image: url('../assets/icons/delivery-small.svg');
    top: 0px;
    left: -23px;
    color: black;
    position: absolute;
    fill: black;
}

.res-dash-card-date{
    font-size: 16px;
    line-height: 1.19;
    color: #5e5959;
}

.res-dash-card-time-inner{
    padding-left: 8px;
    font-size: 16px;
    line-height: 1.25;
    color: #5e5959;
}

.res-dash-card-menu-icon{
    width: 21px;
    height: 21px;
    position: relative;
    top: 0;
    right: 12px;
}

.res-dash-card-menu{
    position: absolute;
    top: 70px;
    left: 0;
    width: 304px;
    background: black;
    opacity: 0.7;
    border-radius: 20px;
    z-index: 10;
    display: none;

}

.show{
    display: flex;
}

.hide{
    display: none;
}
.res-dash-card-menu::before {
    content: '';
    position: absolute;
    left: 250px;
    top: -26px;
    border: 15px solid transparent;
    border-bottom: 20px solid black;
    opacity: 0.9;
   } 
.res-dash-card-menu-li{
    padding: 19px 0px 17px 48px;
    border-bottom: 1px solid #5c5c5c;
}

.res-dash-card-menu-li:last-child{
    border-bottom: none;
}
.res-dash-card-menu-link{
    font-size: 16px;
    color: #ffffff; 
    position: relative;
}
.res-dash-card-menu .res-dash-card-menu-li:first-child .res-dash-card-menu-link:before{
    content: '';
    background-image: url('../assets/icons/edit.svg');
    position: absolute;
    top:  0;
    left:  -31px;
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
}
.res-dash-card-menu .res-dash-card-menu-li:nth-child(2) .res-dash-card-menu-link:before{
    content: '';
    background-image: url('../assets/icons/repeat.svg');
    position: absolute;
    top: 0;
    left:  -31px;
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
}
.res-dash-card-menu .res-dash-card-menu-li:last-child .res-dash-card-menu-link:before{
    content: '';
    background-image: url('../assets/icons/delite.svg');
    position: absolute;
    top: 0;
    left:  -31px;
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
}


.res-dash-card-menu-link:hover{
    text-decoration: none;
    color: #ffffff; 
    cursor: pointer;
}

/* END OF  CARD */

/* STYLES FOR ADD NEW DISH */

.res-dash-block-empty{
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;
  /* justify-content: space-around; */

    /* display: flex; */
    /* flex-direction: column; */
}
.res-empty-block-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.res-empty-image{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #ececec;
    background-image: url();
    margin-bottom: 11px;
}

.res-empty-text{
    width: 224px;
    /* height: 48px; */
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: #5e5959;
    padding-bottom: 16px;
}

.res-button-new{
    width: 185px;
  height: 40px;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, #5ebeae, #3589ae);
  justify-content: center;
  align-items: center;
  border: none;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.33;

}
.res-button-new:hover{
    background-image: linear-gradient(to bottom, #53b4a4 13%, #2e7a9b 88%);
}

.res-button-new:active{
    background-image: linear-gradient(to top, #58baaa 154%, #3081a5);
}
.res-button-new:focus{
    background-color: #fdaf3b;
}

.res-button-new:disabled{
    background-color: #dedddd;
}
/* END STYLES FOR ADD NEW DISH */

/* MENU POPUP CARD */
.res-dash-menu-card{
    background-color: #f3f3f3;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

}

.res-dash-popup-close{
    position: absolute;
    right: 16px;
    top: 18px;
    background-image: url('../assets/icons/close.svg');
    width: 21px;
    height: 21px;
}

.res-dash-menu-cardItem{
    width: 287px;
    border-radius: 16px;
    display: flex;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: #f3f3f3;
}

.res-dash-menu-image{
    width: 100%;
    height: 192px;
    background-size: cover;
    border-radius: 16px 16px 0 0;
}
.res-dash-entire-cardItem-wrapper{
    background-color: #ffffff;
    padding: 22px 16px;
    border-radius: 0 0 16px 16px;
}
.res-dash-cardItem-data-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.res-dash-cardItem-data-name{
    font-family: RobotoSlab;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    color: #212123;
    padding-bottom: 8px;
  
}

.res-dash-cardItem-data-price{
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    text-align: right;
    color: #2faf9a;
    min-width: 111px;
}

.res-dash-cardItem-data-description{
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.42;
    color: #5e5959;
    padding-bottom: 16px;
    border-bottom: 1px solid #979797;
}

.res-dash-cardItem-data-date{
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.36;
    color: #212123;
    padding-top: 10px;
    padding-bottom: 4px;
}

.res-dash-cardItem-data-portions{
    max-width: 112px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.43;
    text-align: right;
    color: #828282;
    padding-top: 10px;
    position: relative;
}

.res-dash-cardItem-data-portions:before{
    content: '';
    background-image: url('../assets/icons/dish_black.svg');
    width: 18px;
    height: 15px;
    position: absolute;
    top: 12px;
    left: -25px;
}

.res-dash-cardItem-data-time{
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.43;
    color: #5e5959;
    padding-bottom: 1px;
}
.res-dash-cardItem-data-time:last-child{
    padding-bottom: 0;
}

.res-dash-cardItem-menu-edit{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.res-dash-cardItem-menu-edit-link{
    font-family: Roboto;
    font-size: 14px;
    color: #368aae;
    line-height: 90px;
    position: relative;

}

.res-dash-cardItem-menu-edit-link:hover{
    color: #368aae;
    text-decoration: none;
    cursor: pointer;
}

.res-dash-cardItem-menu-edit-link:last-child:hover{
    color: #ff5353;
    text-decoration: none;
    cursor: pointer;
}
.res-dash-cardItem-menu-edit-link:first-child:before{
    content: '';
    background-image: url('../assets/icons/edit-blue.svg');
    width: 19px;
    height: 21px;
    position: absolute;
    top: 15px;
    left: 25px;

}

.res-dash-cardItem-menu-edit-link:nth-child(2):before{
    content: '';
    background-image: url('../assets/icons/repeat-blue.svg');
    width: 19px;
    height: 21px;
    position: absolute;
    top: 15px;
    left: 25px;

}

.res-dash-cardItem-menu-edit-link:last-child:before{
    content: '';
    background-image: url('../assets/icons/delite.svg');
    width: 21px;
    height: 21px;
    position: absolute;
    top: 15px;
    left: 20px;

}

.res-dash-cardItem-menu-edit-link-delete{
    color: #ff5353;
}

.hide{
    display: none;
}

.show-menu{
    display: block;
}
/* END OF MENU POPUP CARD */

/* SECONDARY BUTTON */
.res-dash-secondary-button{
    width: 112px;
    height: 40px;
    border-radius: 12px;
    border-style: solid;
    border-width: 1.5px;
    /* border-image-source: linear-gradient(to bottom, #5ebeae, #3589ae);
    border-image-slice: 1; */
    border: 2px solid #5ebeae;

    background-color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.33;
    text-align: center;
    color: #39a7a0;
}
/* END OF SECONDARY BUTTON */

.res-dash-block-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 36px;
    align-items: center;

}
.res-dash-h2-date{
    padding-left: 16px;
}

.show{
    display: flex;
}

@media screen and (min-width: 768px){
    /* BREADCRUMPS */

.res-ul{
    display: flex;
    flex-direction: row;
    padding-top: 19px;
    padding-left: 16px;

}

.res-dash-link{
    font-size: 14px;
    color: #398eae;
    text-decoration: none;

}

.res-dash-link:active{
    font-size: 14px;
    color: #828282;
    text-decoration: none;
    padding-left: 5px;
}

.res-ul li:not(:first-child):before{
    content: '>';
    color: #828282;
    font-size: 14px;
    padding-left: 5px;
}
.res-dash-link-mobile{
    margin-top: 28px;
}

/* END OF BREADCRUMPS */

    .res-dash-info{
        display: flex;
        flex-direction: row;
    }

    .res-dash-h2{
        font-family: RobotoSlab;
        font-size: 26px;
    }
    .res-dash-image{
        align-items: center;
    }
    .res-dash-first-name{
        display: block;
        padding-left: 21px;
    }
    .res-dash-second-name{
        display: none;
    }

    .res-dash-avatar{
        width: 64px;
        height: 64px;
    }

    .res-dash-wrapper{
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .res-dash-info-group{
        padding-top: 12px;
    }
    .res-dash-value{
        font-size: 20px;
    }

    .res-dash-info-itemName{
        font-size: 14px;
    }

    .res-dash-info-block{
        padding-right: 42px;
    }

    /* MENU */

    .res-menu-link{
        font-size: 14px;
    }
    .res-button{
        display: flex;
        width: 140px;
        height: 40px;
        border-radius: 12px;
        background-image: linear-gradient(to bottom, #5ebeae, #3589ae);
        border: none;
        display:flex;
        justify-content: center;
        align-items: center;
        padding: 0;

    }

    .res-button-text{
        font-size: 15px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        font-family: Roboto;
    }

    .res-menu-item{
        font-family: Roboto;
        text-align: center;
        width: calc(100% /5);
    }

    .res-menu{
        max-width: 500px;
    }

    .res-navigation{
        display: flex;
        justify-content: space-between;
    }
    /* END OF MENU */



    /* STYLES FOR ADD NEW DISH */

.res-dash-block-empty{
    height: auto;
    max-width: 1128px;
    margin: auto;
}

    .res-empty-image{
        width: 232px;
        height: 232px;
        margin-bottom: 33px;
        margin-top: 89px;

    }

.res-empty-text{
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 16px;
}

/* END STYLES FOR ADD NEW DISH */


/* CARD STYLES */
.res-dash-card-wrapper{
    flex-direction: row;
    flex-wrap: wrap;
}
/* END OF CARD STYLES */


.res-dash-h2-date{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #808080;
    text-transform: uppercase;
    padding-left: 8px;
    padding-bottom: 5px;
}

/* SECONDARY BUTTON */



/* MENU CARD POPUP */
.res-dash-menu-card{
    background-color: rgba(24, 48, 44, 0.8);

}

/* END OF MENU CARD */

/* END OF SECONDARY BUTTON */
.res-dash-block-wrapper{
    padding-left: 0;

}

.show{
    display: flex;
}

}

@media screen and (min-width: 1378px){
    .res-dash-wrapper{
        padding-left: 0;
        padding-right: 0;
    }
    .res-ul{
        padding-bottom: 20px;
    }

    .res-dash-h2{
        font-size: 32px;
    }

    .res-dash-value{
        font-size: 24px;
    }

    .res-dash-info-itemName{
        font-size: 14px;
    }

    .res-dash-info-block{
        padding-right: 50px;
    }

    .res-dash-wrapper{
        max-width: 1100px;
    }

    .res-dash-header{
        display: flex;
        justify-content: center;
    }
    .res-dash-chf{
        font-size: 24px;
    }

    .res-menu{
        max-width: 900px;
    }
    /* DESKTOP MENU CARD */


    .res-dash-card-menu{
        position: absolute;
        top: 0;
        left: 300px;
        width: 170px;
        background: black;
        opacity: 0.7;
        border-radius: 20px;
        z-index: 10;
        display: none;
    
    }

    
    
    .res-dash-card-menu::before {
        content: '';
        position: absolute;
        left: -27px;
        top: 22px;
        border: 15px solid transparent;
        border-right: 20px solid black;
        opacity: 0.9;
       } 

       .show-menu{
        display: block;
    }

           /* END OF DESKTOP MENU CARD */

}